@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font('Inter', 'Inter-Bold', 'bold', 'normal');
@include font('Inter', 'Inter-Medium', '500', 'normal');
@include font('Inter', 'Inter-Regular', 'normal', 'normal');

body {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
