@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.miniCartContainer {
  display: flex;
  cursor: pointer;
  gap: 15px;
  padding-left: 10px;

  &:hover {
    transition: all 0.3s;

    .cartCount {
      svg {
        path {
          transition: all 0.3s;
          fill: color(color_text_primary_active);
        }
      }
    }
  }

  .cartCount {
    display: flex;
    position: relative;

    svg {
      path {
        fill: color(color_text_primary);
      }
    }

    span {
      position: absolute;
      display: flex;
      width: 20px;
      height: 20px;
      border: 2px solid color(color_border_secondary);
      border-radius: 50%;
      background-color: color(color_background_primary);
      color: color(color_text_color_background);
      align-items: center;
      justify-content: center;
      font-size: 12px;
      right: -3px;
      top: -5px;
    }
  }

  .cartItem {
    padding-top: 3px;

    .sumCount {
      padding-top: 3px;
      color: color(color_text_primary);
      font-weight: 400;
    }
  }
}