@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.catalogBlock {
  opacity: 0;
  background-color: color(color_background_secondary);
  padding: 0 5px 5px 5px;
  border: 1px solid color(color_border_primary);
  border-top: none;
  z-index: 60;
  width: 200px;
  pointer-events: none;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: (0 0 20px 20px);
  position: absolute;

  > ul {
    display: flex;
    flex-direction: column;

    > li {
      transition: all 0.3s;
      width: 100%;
      display: grid;

      .subCategory {
        border: 1px solid color(color_border_primary);
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: 5px;
        height: 317px;

        ul {
          padding: 20px;

          li {
            color: color(color_text_primary);
          }
        }
      }

      &:last-child {
        a {
          border: none;
          border-radius: 0 0 20px 20px;
        }
      }

      > a {
        color: color(color_text_primary);
        padding: 10px 0 10px 5px;
        font-size: 14px;
        display: flex;
        gap: 10px;
        border-bottom: 1px solid color(color_border_bottom);

        svg {
          width: 16px;
          height: 16px;

          path {
            fill: color(color_text_primary);
          }
        }
      }

      &:hover {
        > a {
          transition: all 0.3s;
          color: color(color_text_secondary);
          background-color: color(color_background_primary);
          position: relative;


          &:after {
            transition: all 0.3s;
            content: '';
            position: absolute;
            border: 18px solid transparent;
            border-left: 15px solid transparent;
            right: -12px;
            top: 0;
          }
        }

        .subCategory {
          display: flex;
          flex-direction: column;
          background-color: color(color_background_secondary);
          z-index: 60;
          width: 1200px;
          transition: all 0.3s;
          border-radius: (20px);
          left: 196px;
          top: -35px;

          img {
            border-radius: (20px);
          }

          > div {
            position: absolute;

            > ul {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              width: 1200px;
              height: 340px;
              box-sizing: border-box;
              align-content: flex-start;
              column-gap: 20px;

              > li {
                width: max-content;
                box-sizing: border-box;

                a {
                  padding: 5px;
                  display: block;
                  color: color(color_text_primary);
                }

                &:hover {
                  a {
                    transition: all 0.3s;
                    color: color(color_text_secondary);
                    background-color: color(color_background_primary);
                  }
                }

              }
            }
          }
        }

      }

    }
  }

  &.activeMenu {
    opacity: 1;
    pointer-events: auto;
    border-top: none;
  }
}