@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.breadcrumbs_container {
  ul {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    color: color(color_text_primary);
    @include phoneScreen {
      flex-direction: column;
      gap: 8px;
    }

    li {
      align-items: center;
      display: flex;
      color: color(color_text_breadcrumbs);
      a {
        color: color(color_text_breadcrumbs);
        font-size: 12px;
        transition: all 0.3s;
        letter-spacing: 0.025em;
        position: relative;
        @include phoneScreen {
          font-size: 12px;
        }

        &:hover {
          transition: all 0.3s;

          color: color(color_text_primary_active);
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: color(bredcrumbs);
          transition: width 0.3s;
        }
      }

      span {
        padding: 0 8px;

        svg {
          width: 10px;
          height: 10px;
          position: relative;
          top: 1px;

          path {
            fill: color(bredcrumbs);
          }
        }
      }
    }
  }
}