@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.container {
  padding: 16px 16px 16px 20px;
  background-color: color(color_background_snack_bar);
  color: color(color_text_secondary);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  border-left: 5px solid color(color_border_left_snack_bar);

  .message_container {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      path {
        fill: color(color_background_secondary);
      }
    }

    .message {
      letter-spacing: 0.4px;
      text-align: justify;
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}







