@import "styles/variables";

.products_wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;

  .catalog_title {
    border-bottom: 1px solid color(color_border_bottom);
    padding-bottom: 20px;
    color: color(color_text_primary);
    font-size: 20px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .catalog_body {
    //border: 1px solid red;
    padding-top: 15px;

    > ul {
      > li {
        a {
          padding: 5px 0;
          color: color(color_text_primary);
          display: flex;

          &:hover {
            color: color(color_text_primary_active);
          }
        }

        > ul {
          display: none;
        }
      }
    }
  }
}