@import "styles/variables";

.products_wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 30px;

  .category_container {
    .catalog_title {
      border-bottom: 1px solid color(color_border_bottom);
      padding-bottom: 20px;
      color: color(color_text_primary);
      font-size: 20px;
      padding-right: 10px;
      box-sizing: border-box;
    }

    .menu_block_hide {
      opacity: 0;
    }

    .menu_block_visible {
      opacity: 1;
      transition: all 0.3s;
    }

    .catalog_body {
      //border: 1px solid red;
      padding-top: 15px;

      > ul {
        > li {
          display: block;
          align-items: center;
          justify-content: space-between;

          &.isActive {
            > div {
              > a {
                color: color(color_text_primary_active);
                border-bottom: 1px solid color(color_border_bottom);

                ~ div {
                  svg {
                    transition: all 0.3s;

                    path {
                      fill: color(color_text_primary_active);
                      transition: all 0.3s;
                    }
                  }
                }
              }
            }
          }

          &.isHover {
            > div {
              a {
                color: color(color_text_primary_active);
              }
            }
          }

          .item_category {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          svg {
            cursor: pointer;

            path {
              fill: color(color_text_primary)
            }

            &:hover {
              transition: all 0.3s;

              path {
                transition: all 0.3s;

                fill: color(color_text_primary_active)
              }
            }

          }

          a {
            padding: 7px 0;
            color: color(color_text_primary);
            transition: all 0.3s ease;
            border-bottom: 1px solid transparent;

            &:hover {
              color: color(color_text_primary_active);
              transition: all 0.3s;

              ~ div {
                svg {
                  transition: all 0.3s;

                  path {
                    fill: color(color_text_primary_active);
                    transition: all 0.3s;
                  }
                }
              }
            }
          }

          > ul {
            > li {
              padding: 5px;

              .isActiveSub {
                color: color(color_text_primary_active);
              }
            }
          }
        }
      }
    }
  }

  .product_container {
    display: flex;
    flex-direction: column;

    h1 {
      padding: 25px 0;
      font-size: 20px;
      color: color(color_text_primary);
      font-weight: 500;
    }

    .product_block {
      display: flex;
    }
  }
}